    <header class="header">
       <nav class="navMenu">
        <a href="/blog/">Home</a>
        <a href="/blog/create">Blog</a>
        <a href="/user/signup">SignUp</a>
        <a href="/user/login">Login</a>
        <div class="dot"></div>
      </nav>
    </header>
